* {
    font-family: "Roboto", sans-serif;
    letter-spacing: 0.005rem;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* *contains everything inside the white part*/
main.main-container {
    color: hsl(234, 29%, 20%);
    font-family: 1rem;
    line-height: 1.35rem;
    padding: 2.3rem 1rem;
    /* height: 100vh; */
}

/* *title image */
img#mobile-image {
    width: 100%;
}

img#desktop-image {
    display: none;
}

/* * applies margin bottom to heading and paragraph */
.heading,
p.text {
    margin-bottom: 1.8rem;
}

/* * "Stay Updated!" value */
h1.heading {
    font-size: 2.5rem;
}

/* * list container */
ul#points-container {
    margin-bottom: 2.5rem;
}

/* *list elements */
li.list-point {
    list-style: none;
    background: url("./assets/images/icon-list-mobile.svg") no-repeat;
    padding-left: 1.875rem;
    margin-bottom: 1rem;
}

/* *form container */
form#email-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.2rem;
}

/* *form label (email address) */
label#email-label {
    font-weight: bold;
    font-size: 11.5px;
    margin-bottom: 6px;
}

/* *form textbox */
input#input-textbox {
    border: 0.09px solid hsl(231, 7%, 60%);
    border-radius: 8px;
    padding: 1rem 1.5rem;
    margin-bottom: 20px;
}

/* *selects and styles the "text" attribute */
input#input-textbox[type="text"] {
    color: hsl(228, 2%, 50%);
}

/* *removes default color when textbox is clicked */
input#input-textbox:focus {
    outline: none;
}

/* * form button */

button#subscribe-btn {
    border: none;
    font-weight: bold;
    letter-spacing: 0.04rem;
    font-size: 0.875rem;
    color: white;
    background-color: hsl(235, 18%, 26%);
    width: 100%;
    padding: 1.125rem;
    border-radius: 0.625rem;
}

/* *changes button color opacity on hover */
button#subscribe-btn:hover {
    background-color: hsla(235, 18%, 26%, 0.9);
}

/* * changes certain elements when the min-width is >= 992px */
@media (min-width: 62rem) {
    /* * makes the body a flex container and centers everything inside it (vertically and horizontally) */
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: hsl(235, 18%, 26%);
        height: 100vh;
    }

    /* *removes the mobile image */
    img#mobile-image {
        display: none;
    }

    /* *displays the desktop image */
    img#desktop-image {
        display: block;
    }

    /* *making the main container (the white background) a flex container so the content and image can be side by side */
    main.main-container {
        display: flex;
        background-color: white;
        width: 44rem;
        height: 31rem;
        padding: 1.1rem 1.1rem 1.1rem 0;
        border-radius: 2rem;
        border: 0;
        box-shadow: 0.625rem 0.625rem 3.125rem 1.25rem;
    }

    /* *targets all the written content (content that is not the image)  */
    section#main-content {
        margin-top: 3.75rem;
        padding: 0 3.4rem 0 2.5rem;
    }

    /* * targets the "Stay Updated!" heading */
    h1.heading {
        font-size: 2.3rem;
        margin-bottom: 1.8rem;
    }

    p.text {
        margin-bottom: 1.2rem;
    }

    p.text,
    li.list-point {
        font-size: 0.75rem;
    }

    li.list-point {
        margin-bottom: 0.4rem;
    }

    /* * targets list container (<ul/>)*/
    ul#points-container {
        margin-bottom: 1.3rem;
    }

    /* *targets the "Email address" label */

    label#email-label {
        font-size: 0.6rem;
        margin-bottom: 0.25rem;
    }

    /* *form textbox */
    input#input-textbox {
        /* padding: 0.625rem 1.6rem; */
        margin-bottom: 0.8rem;
        font-size: 0.65rem;
        padding: 0.8rem 1.5rem;
    }

    /* *targets the form button */
    button#subscribe-btn {
        display: grid;
        place-content: center;
        font-size: 0.75rem;
        height: 2.6rem;
        border-radius: 0.5625rem;
    }
}
